.red-box{
    background-color: #E24F3B;
    height: 342px;
    width:100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.red-box  button {
    text-transform: uppercase;
    margin:0px 20px;
    background: transparent;
    border:1px solid  white;
    color: white;
    font-size: 2vw;
    padding: 10px  6%;
    border-radius: 30px;
    cursor: pointer;
}

.red-box button:hover{
    background: white;
    color: #E24F3B;

}